@import url('https://fonts.cdnfonts.com/css/glober');

* {
  font-family: 'Glober Demo', sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
}

.App {
  text-align: center;
}

.App h1 {
  text-align: center;
}

/* HEADER */

.header {
  padding: 20px;
  display: flex;
  justify-content: safe center;
}

.header h1 {
  font-size: 50px;
}

#header-logo {
  width: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.header a {
  text-decoration: none;
  color: black;
}

/* NAVBAR */
.navbar ul {
  display: flex;
  justify-content: safe center;
}

.navbar li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
  transition: all 500ms;
}

.navbar li a:hover {
  color: rgb(169, 169, 169);
}

.active {
  color: rgb(169, 169, 169);
}

/* FOOTER */

/* HOME */
.home {
  display: flex;
  justify-content: safe center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.home img {
  width: 20%;
  border-radius: 50%;
  padding: 50px;
}

.home-intro {
  padding-top: 100px;
  padding-bottom: 50px;
}

.skills{
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

.skills h1{
  padding-bottom: 50px;
}

#skill-logo {
  min-width: 50px;
  width: 150px;
  max-width: 150px;
  margin: 20px;
}

#skill-logo:hover {
  transition-duration: 0.5s;
  transform: scale(1.5);
  opacity: 0.5;
}

/* PROJECTS */
.projects h1 {
  padding-top: 50px;
}

.project-info {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.project-video {
  min-height: 150px;
  height: 300px;
  max-height: 300px;
  opacity: 1;
}

.project-details{
  min-width: 100px;
  width: 500px;
  max-width: 500px;
}

.project-details h3 {
  text-decoration: underline;
}

/* ABOUT ME */
.about-me {
  padding: 50px;
}

#about-me-logo{
  width: 100px;
}

#about-me-text {
  width: 1000px;
}

.background {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.other-experiences {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.hobbies-and-interests {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

/* RESUME */
.resume img {
  width: 55%;
}

/* PHOTOGRAPHY */
.photography-header a {
  text-decoration: none;
}

#ig {
  width: 2%;
}

#profile-header {
  padding-bottom: 50px;
  width: 50%;
}

#sample {
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}
